.ui_checkbox {
  width: 18px;
  height: 18px;
  padding: 0 5px 0 0;
  background: url(../../images/sprites/sprite.png);
  display: block;
  position: relative;
  top: 1px;
  cursor: pointer;
  background-position: -70px 200px
}

.label {
  cursor: pointer;
  float: left;
  font-size: 13px;
  color: #545454;
  margin-left: 5px
}