.help-tt-wrap {
  background: rgba(0, 0, 0, 0.575);
  color: #FFF;
  padding: 10px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.775)
}

  .text-layout {

  }

    .text-container {

    }