/* haneockndjfcggooemgiamgjjnhaphjc */
/* dchhhgnffjgnhjnbphbbpfelanmndmkk */
/* local fckkdcdgdcoemdmhebonjccchdjhehgb */

*[class^=TnITTtw-] {
    box-sizing: content-box;
    display: block;
    margin-top: 0;
}

.TnITTtw-help-selected-wrap {
    border: 1px solid rgba(201, 201, 201, 0.5);
    box-shadow: 0 -5px 30px -5px rgba(0, 0, 0, 0.275);
    border-radius: 4px;
    width: 327px;
    letter-spacing: normal;
    line-height: normal;
}

/*.TnITTtw-loading {
    border: 1px solid #d9d9d9;
    box-shadow: 0 -5px 30px -5px rgba(0, 0, 0, 0.275);
    border-radius: 4px;
    width: calc(327px - 40px);
    height: calc(300px - 40px);
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    padding: 40px 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.675);
    -webkit-user-select: none;
    background: #FFF;
}*/

.TnITTtw-has-bottom-arrow {
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.275);
}

.TnITTtw-help-inside-layout {
    height: 298px;
    background: #FFF;
    border-radius: 4px
}

.TnITTtw-left-particle {
    width: 327px;
}

.TnITTtw-content-layout {

}

.TnITTtw-variant-bunch-wrap {

}

.TnITTtw-variant-bunch-wrap .inside-layout {

}

.TnITTtw-padded-single-translation {
    text-align: left;
    letter-spacing: normal;
    line-height: normal;
    padding: 15px;
    padding-right: 0;
    font-size: 16px;
    width: calc(100% - 15px);
}

.TnITTtw-padded-single-translation.TnITTtw-original-wrap {
    border-bottom: 1px solid rgba(233, 233, 233, 0.375);
}

.TnITTtw-tpart {
    display: inline-block;
    -webkit-user-select: initial;
    width: 238px;
    color: #2b2b2b;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.TnITTtw-mv-text-part {
    font-family: Tahoma;
    text-align: left;
    display: inline-block;
    padding-right: 5px;
    width: calc(100% - 30px);
    font-size: 18px;
    font-weight: 700;
}

.TnITTtw-listen-translation-button {
    display: none;
}

.TnITTtw-synonyms {
    font-size: 14px;
    text-align: left;
    color: #797979;
}

.TnITTtw-synonym {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    color: #797979;
}

.TnITTtw-synonym:hover {
}

.TnITTtw-listen-layout {
}

.TnITTtw-listen-inner-space {
}

.TnITTtw-listen-button {
}

.TnITTtw-listen-button:hover {
}

.TnITTtw-listen-button:active {
}

.TnITTtw-listen-button:first-child {
}

.TnITTtw-ico-listen {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: calc(25px - 6px);
    /*top: 9px;*/
    margin-top: -6px;
    height: 20px;
    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    padding: 6px 5px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    vertical-align: top;
}

.TnITTtw-ico-listen:active {
    background: rgba(231, 231, 231, 0.5);
}

.TnITTtw-icon {
    display: inline-block;
    background: url(/resources/images/ui_elements/speaker_big.png);
    position: relative;
    width: 24px;
    height: 20px;
    background-size: 24px 20px;
}

.TnITTtw-caption {
    display: none;
}

.TnITTtw-main-variant-wrap {
    text-align: left;
}

.TnITTtw-original {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-family: Tahoma;
    box-sizing: initial;
    width: calc(100% - 30px);
    border-bottom: 1px solid rgba(233, 233, 233, 0.375);
}

.TnITTtw-unpinned-utils, .TnITTtw-utils {
    height: 34px;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(233, 233, 233, 0.375);

    background: #FFF;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-size: 0px;
    text-align: center;
    -webkit-user-select: none;
    display: block;
    box-sizing: content-box;
}

.TnITTtw-unpinned-utils {
    display: none;
}

.TnITTtw-unpinned-utils {
    cursor: move;
}

.TnITTtw-close-unpinned {
    width: 12px;
    height: 12px;
    background-image: url(/resources/images/ui_elements/close_unpinned.png);
    background-size: 12px 12px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 17px;
    cursor: pointer;
    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.5;
}

.TnITTtw-close-unpinned:hover {
    opacity: 0.75;
}

.TnITTtw-util-button {
    display: inline-block;

    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;

    margin-top: 0;

    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-user-select: none;
    
    opacity: 0.75;

    vertical-align: top;
    padding: 5px;
    background-color: rgba(233, 233, 233, 0.725);
    width: 60px;
    background-position: 50%;
    border-radius: 4px;

    box-sizing: content-box;
}

.TnITTtw-util-button:hover {
    cursor: pointer;
    opacity: 1.0;
}

.TnITTtw-util-button.TnITTtw-listen-original {
    background-image: url(/resources/images/ui_elements/speaker_orig.png);
}


.TnITTtw-highlight-button {
    background-image: url(/resources/images/ui_elements/highlight.png);
}

.TnITTtw-open-link {
    margin-left: 5px;
    background-image: url(/resources/images/ui_elements/google.png);
}

.TnITTtw-unpin {
    margin-left: 5px;
    background-image: url(/resources/images/ui_elements/unpin.png);
}

.TnITTtw-show-reversed {
    margin-left: 5px;
    background-image: url(/resources/images/ui_elements/tt_swap.png);
}

.TnITTtw-util-button:hover {
}

.TnITTtw-main-variant-wrap .TnITTtw-original {
    font-size: 15px;
    text-align: left;
}

.TnITTtw-original-wrap {
    display: none;
}

.TnITTtw-original-variant {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    padding: 15px;
    font-family: Tahoma;
}

.TnITTtw-main-variant {
    font-weight: 700;
    text-align: left;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    padding: 15px;
    font-family: Tahoma;
    width: calc(100% - 30px);
}

.TnITTtw-variants-by-pos {

}

.TnITTtw-variant-row {
    text-align: left;
}

.TnITTtw-v-pos {
    font-size: 14px;
    color: #a4a5a6;
    padding: 15px;
    text-transform: uppercase;
    text-align: left;
    font-size: 13px;
    padding-bottom: 0;
    border-top: 1px solid rgba(233, 233, 233, 0.375);
}

.TnITTtw-empty-pos {
    padding: 1px 0 0 0;
    background: #f5f5f5
}

.TnITTtw-part-items-amount {
    font-family: Tahoma;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 400;
    color: #a4a5a6;
}

.TnITTtw-v-closest-wrap {

}

.TnITTtw-v-item {
    font-family: Tahoma !important;
    text-align: left;
    padding: 15px;
    padding-right: 65px;
    border-bottom: 1px solid whiteSmoke;
    color: #797979;
    font-size: 14px;
}

.TnITTtw-v-item:last-child {
    border-bottom: none;
}

.TnITTtw-listen-v-item {
    display: inline-block;
    padding: 5px;
    float: right;
    position: absolute;
    right: 20px;
    margin-top: -5px;
    cursor: pointer;
    text-align: left;
    -webkit-transition: all 325ms cubic-bezier(0.23, 1, 0.32, 1);
}

.TnITTtw-listen-v-item:active {
    background: #f3f3f3;
    border-radius: 3px;
}

.TnITTtw-small-listen-icon {
    width: 20px;
    height: 16px;
    background: url(/resources/images/ui_elements/speaker_big.png);
    position: relative;
    background-size: 20px 16px;
}

.TnITTtw-main-of-item {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
}

.TnITTtw-gender {
    display: inline-block;
    font-size: 13px;
}

.TnITTtw-listen-disabled {
    -webkit-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: transparent !important;
    opacity: 0.375;
    cursor: default !important;
}

.TnITTtw-right-particle {
    background: rgba(255, 255, 255, 0.125);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    width: 36px;
    height: 100%;
    vertical-align: top;
}

.TnITTtw-sidebar {

}

.TnITTtw-sbutton {
    position: absolute;
    -webkit-user-select: none;
    cursor: pointer
}

/* Scrollbars */

.TnITTtw-trVisibleLayout {
    position: relative !important;
    overflow: hidden;
    height: 253px;
    width: 100%
}

.TnITTtw-unpinned .TnITTtw-trVisibleLayout {
    height: 253px;
}

.TnITTtw-trEntireLayout {
    width: 100%
}

.TnITTtw-tr-scrollbar {
    position: absolute;
    display: inline-block;
    width: 6px;
    left: 317px;
    top: 49px;
    height: 247px;
}

.TnITTtw-has-top-arrow .TnITTtw-tr-scrollbar {
    top: 57px;
}

.TnITTtw-unpinned .TnITTtw-tr-scrollbar {
    top: 49px;
    height: 246px;
}

.TnITTtw-top-scroll {
    top: 8px !important
}

.TnITTtw-track {
    position: absolute;
    height: 100%;
    top: 0px;
    background: transparent
}

.TnITTtw-unpinned .TnITTtw-track {
    height: 246px;
}

.TnITTtw-dragBar {
    position: absolute;
    top: 0px;
    width: 6px;
    height: 10px;
    background: rgba(43, 43, 43, 0.475);
    cursor: pointer;
    border-radius: 3px;
}

.TnITTtw-dragBar:hover, .TnITTtw-dragBar:active {
    background: rgba(43, 43, 43, 0.775)
}

.TnITTtw-scrollbar, .TnITTtw-track, .TnITTtw-dragBar {
    -webkit-user-select: none
}

.TnITTtw-arrow {
    display: none;
    position: relative;
}

.TnITTtw-top-arrow {
    bottom: -1px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(255, 255, 255, 0.999);
}

.TnITTtw-bottom-arrow {
    top: -1px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(255, 255, 255, 0.999);
}

.TnITTtw-highlight {
    display: inline;
    background: rgba(48, 129, 204, 0.275);
    border-bottom: 1px solid rgba(48, 129, 204, 0.125);
    padding: 1px 0;
}

.TnITTtw-t .TnITTtw-highlight {
    padding: 0;
    border: none;
    background: transparent;
}

.TnITTtw-translit-row {
    display: none;
}

.TnITTtw-translit-item {
    padding: 0;
}

.TnITTtw-translit-pos {
    margin-bottom: 10px;
    padding: 15px 15px;
    padding-bottom: 0;
}

.TnITTtw-translit-main {
    margin-bottom: 0;
    font-weight: 400;
    padding: 15px;
    padding-top: 0;
}

.no-border-bottom {
    border-bottom: none;
}

.TnITTtw-loading, .TnITTtw-offline {
    top: 0;
    display: none;
    position: absolute;
    z-index: 3;
    width: 327px;
    height: calc(100% - 8px);
    text-align: center;
    background: rgba(233, 233, 233, 0.95);
    color: #a4a5a6;
    font-size: 16px;
    border: 1px solid rgba(217, 217, 217, 0.275);
    border-radius: 4px;
    text-transform: uppercase;
}

.TnITTtw-loading span {
    display: block;
    margin-top: 40px;
}

.TnITTtw-has-top-arrow .TnITTtw-loading, .TnITTtw-has-top-arrow .TnITTtw-offline {
    margin-top: 8px;
}

.TnITTtw-non-bold-contents .TnITTtw-main-variant, .TnITTtw-non-bold-contents .TnITTtw-v-item .TnITTtw-main-of-item {
    font-weight: 400;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .TnITTtw-icon {
        background-image: url(/resources/images/ui_elements/speaker_big@2x.png);
    }

    .TnITTtw-small-listen-icon {
        background-image: url(/resources/images/ui_elements/speaker_big@2x.png);
    }

    .TnITTtw-close-unpinned {
        background-image: url(/resources/images/ui_elements/close_unpinned@2x.png);
    }

    .TnITTtw-util-button.TnITTtw-listen-original {
        background-image: url(/resources/images/ui_elements/speaker_orig@2x.png);
    }

    .TnITTtw-highlight-button {
        background-image: url(/resources/images/ui_elements/highlight@2x.png);
    }

    .TnITTtw-open-link {
        background-image: url(/resources/images/ui_elements/google@2x.png);
    }

    .TnITTtw-unpin {
        background-image: url(/resources/images/ui_elements/unpin@2x.png);
    }

    .TnITTtw-show-reversed {
        background-image: url(/resources/images/ui_elements/tt_swap@2x.png);
    }

}
