.modal-tooltip-wrap {
    box-shadow: 0 8px 32px rgba(43, 43, 43, 0.125);
    min-width: 100px;
}

.modal-inside-layout {

}

.m-headline {
    padding: 15px;
    background: rgba(255, 255, 255, 0.975);
    border: 1px solid rgba(217, 217, 217, 0.65);
    border-bottom: none;
}

.m-head {
    color: #a4a5a6;
    display: inline-block;
    font-size: 14px;
}

.m-close-wrap {
    display: inline-block;
    float: right;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.m-close {
    width: 8px;
    height: 8px;
    background: url(../../../images/sprites/sprite.png);
    background-position: -100px 154px
}

.m-text-wrap {
    background: rgba(255, 255, 255, 0.975);
    border: 1px solid rgba(217, 217, 217, 0.65);
    border-top: none;
}

.m-text {
    color: #2b2b2b;
    padding: 15px;
    padding-top: 0;
}