#TnITTtw-tooltip-wrap {
  position: absolute;
  z-index: 1000000131;
  font-family: Tahoma !important;
  font-size: 13px !important;
  line-height: normal !important
}

  .TnITTtw-inside-layout {

  }

    .TnITTtw-content {
      
    }