.TnITTtw-help-selected-wrap {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 337px !important;
}

.TnITTtw-left-particle {
    width: 337px !important;
}

.TnITTtw-help-inside-layout {
    height: 300px !important;
    border-radius: 0 !important;
}

.TnITTtw-help-inside-layout {
    height: 300px !important;
    background: #FFF !important;
    border-radius: 0px !important;
}

.TnITTtw-trVisibleLayout {
    height: 238px !important;
}

.TnITTtw-tr-scrollbar {
    left: 328px !important;
    top: 48px !important;
    height: 226px !important;
}